<b>Mi lista de compras</b>
<section>
<h2>FRUTAS</h2>
<ul>
  <li>manzana</li>
  <li>mango</li>
  <li>pera</li>
  <li>mandarina</li>
  <li>naranja</li>
  <li>papaya</li>
  <li>fresa</li>
  <li>mora</li>
  <li></li>
</ul>
</section>
<section>
<h2>VERDURAS</h2>
<ul>
  <li>tomate</li>
  <li>cebolla</li>
  <li>pimiento</li>
  <li>cilantro</li>
  <li>ajo</li>
  <li>lechuga</li>
  <li>brocoli</li>
  <li>pepino</li>
</ul>
</section>
<section>
  <h2>Lo que no encontre</h2>
  <ul>
    <li>pera</li>
    <li>mora</li>
    <li>pepino</li>
    <li>ajo</li>
    <li>fresa</li>
    <li>cebolla</li>
  </ul>
</section>
